/* Categories (horizontal scroll) */
.category-tabs {
  display: flex;
  justify-content: center;
  overflow-x: auto;
  gap: 10px;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--accent-color);
}

.tab {
  padding: 8px 14px;
  border-radius: 20px;
  background: var(--accent-color-3);
  font-size: 0.9rem;
  color: var(--text-color);
  white-space: nowrap;
  transition: var(--transition-speed);
  text-decoration: none;
}

.fab-category {
  padding: 8px 14px;
  border-radius: 20px;
  background: linear-gradient(135deg, var(--primary-color), #af3db5);
  font-weight: 700;
  color: var(--white-color);
  white-space: nowrap;
  transition: var(--transition-speed);
  text-decoration: none;
}
[data-theme="dark"] .fab-category {
  background: linear-gradient(135deg, #af3db5, #b03bb7);
}

.fab-category:hover {
  transform: scale(1.11);
}

.active-tab {
  background-color: var(--text-color);
  color: var(--accent-color);
}

.active-tab:hover,
.tab:hover {
  background-color: var(--accent-color-2);
  color: var(--text-color);
}

/* Desktop Tabs */
.desktop-tabs {
  display: flex;
  gap: 10px;
}

.desktop-tabs .tab {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
}

.active-tab {
  background-color: #000;
  color: #fff;
}

/* Hide on Desktop */
.mobile-dropdown-container {
  display: none;
}

@media (max-width: 764px) {
  .category-tabs {
    display: none !important;
  }

  .mobile-dropdown-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1rem 0;
  }

  .dropdown-wrapper {
    position: relative;

    flex: 1;
  }

  .dropdown-trigger {
    background-color: var(--background-color);
    padding: 0.75rem 1rem;
    border-radius: 12px;
    font-size: 13px;
    font-weight: 700;
    color: var(--text-color);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.2s ease;
    /* border: 1px solid #ddd; */
    max-width: 120px;
  }

  .dropdown-icon {
    transition: transform 0.3s ease;
    font-size: 1.25rem;
    color: var(--text-color);
  }

  .dropdown-icon.open {
    transform: rotate(180deg);
  }

  .dropdown-menu {
    position: absolute;
    top: calc(100% + 0.3rem);
    left: 0;
    width: 100%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.1);
    z-index: 10;
    padding: 0.5rem 0;
    max-width: 150px;
  }

  .dropdown-item {
    padding: 0.75rem 1rem;
    cursor: pointer;
    color: #333;
    font-weight: 500;
    transition: 0.2s ease;
  }

  .dropdown-item:hover {
    background-color: #f4f4f4;
  }

  .dropdown-item.active {
    background-color: var(--primary-color);
    color: #fff;
  }
  .mobile-fab-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #dacaea;
    padding: 5px;
    border-radius: 1000px;
    gap: 5px;
  }

  .mobile-fab {
    padding: 0.5rem;
    background-color: var(--black-color);
    color: var(--white-color);
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.2s ease;
  }
  .notifications {
    padding: 0.5rem;
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 50px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: none;
    white-space: nowrap;
    transition: 0.2s ease;
  }

  .mobile-fab:hover {
    background-color: #222;
  }
}
