.comment-form {
  display: flex;
  align-items: center;
  background-color: var(--white-color);
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  padding: 10px 15px;
  max-width: 100%;
  margin: 1rem auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
[data-theme="dark"] .comment-form {
  border: 2px solid #fff;
}
.comment-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 1rem;
  padding: 10px;
  background-color: transparent;
  color: var(--black-color);
  max-width: 100%;
}

.comment-input::placeholder {
  color: var(--accent-color-2);
}

.submit-btn {
  background-color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background var(--transition-speed) ease;
  color: var(--white-color);
  font-size: 20px;
  position: relative;
}
[data-theme="dark"] .submit-btn {
  background-color: var(--text-color);
}
.submit-btn:disabled {
  background-color: var(--accent-color-2);
  cursor: not-allowed;
}

.submit-btn:hover:not(:disabled) {
  background-color: var(--time);
}

/* Spinner for loading animation */
.spinner {
  border: 3px solid var(--white-color);
  border-top: 3px solid var(--black-color);
  border-radius: 50%;
  width: 20px;
  height: 20px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
