.back {
  padding-left: 2rem;
  padding-top: 1rem;
}

.back-home {
  background: var(--black-color);
}

.individual-story {
  background: var(--white-color);
  color: var(--text-color);
  padding: 2rem 1rem;
  border-radius: 16px;
  margin: 2rem;
  box-shadow: 0 8px 20px rgba(67, 24, 69, 0.1);
  transition: var(--transition-speed);
}

.story-meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.story-category {
  padding: 6px 14px;
  border-radius: 20px;
  background: var(--black-gradient);
  color: var(--white-color);
  font-weight: 500;
  text-transform: capitalize;
}

.story-time {
  color: var(--time);
}

.story-full-content {
  font-size: 1.05rem;
  line-height: 1.9;
  margin-bottom: 1.5rem;
  white-space: pre-line;
  color: var(--text-color);
}

.story-meta-icons {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
